@model Horario.Domain.Concrete.EFDicaRepository

@{
    ViewBag.Title = "Director de Carrera";
}

@foreach (var dica in Model.Dicas)
{
    <div class="well">
        <h3>
            <strong>@dica.Nomina</strong>
            <span class="pull-right label label-primary">@dica.Fname@dica.Lname</span>
        </h3>
        <span class="lead">@dica.email</span>
        <center><a style="color:black" href="#" class="btn btn-primary btn-lg" role="button">Ver Horario</a></center>
    </div>
}




